resource/library/index-documents-1.0.dtd

<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
<!--                                                                                            -->
<!-- Title:         Flint DTD for Index Documents                                               -->
<!-- System:        Flint                                                                       -->
<!-- Status:        Final (Superseded by version 2.0)                                           -->
<!-- Description:   A schema for the defining a collection of indexable Lucene documents as     -->
<!--                used in Lucene 2. In other words, XML documents following this schema can   -->
<!--                be parsed by Flint to produce a valid Lucene 2 Index.                       -->
<!-- Version:       1.0                                                                         -->
<!-- LastModified:  15 October 2009                                                             -->
<!-- Author(s):     Christophe Lauret, Jean-Baptiste Reure                                      -->
<!--                                                                                            -->
<!-- More info:                                                                                 -->
<!--    http://weborganic.org/code/flint                                                        -->
<!--    http://lucene.apache.org                                                                -->
<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->

<!--
  Lucene 2 Field Store
   - compress: Store the field value in the index in a compressed form.
   - no:       Do not store the field value in the index.
   - yes:      Store the original field value in the index.
-->
<!ENTITY  % FIELD_STORE      "( compress | no | yes )"                                            >

<!--
  Lucene 2 Field Index
   - no:           Do not index the field value
   - no-norms:     Index the tokens generated by an Analyzer, but disable the storing of norms.
   - tokenised:    Index the tokens generated by an Analyzer.
   - un-tokenised: Index the field's value without using an Analyzer.
-->
<!ENTITY  % FIELD_INDEX      "( no | no-norms | tokenised | un-tokenized )"                       >

<!--
  Lucene 2 Field Index date resolution
-->
<!ENTITY  % RESOLUTION       "( year | month | day | hour | minute | second | milli )"            >

<!--                                                
  A container for Lucene documents

  @element document The list of documents.
-->
<!ELEMENT documents                            (document*)                                        >

<!--                                                
  A Lucene document
  
  @element field The fields attached to the document
-->
<!ELEMENT document                             (field*)                                           >

<!--
  A Lucene document field

  @attribute name            The name of the field
  @attribute store           A Lucene Field Store value
  @attribute index           A Lucene Field Index value
  @attribute date-format     A date format to parse a date field
  @attribute date-resolution The resolution for a Lucene date field
-->
<!ELEMENT field                                (#PCDATA)                                          >
<!ATTLIST field              name               CDATA                                   #REQUIRED 
                             store             %FIELD_STORE;                            #REQUIRED 
                             index             %FIELD_INDEX;                            #REQUIRED
                             boost              CDATA                                   #IMPLIED
                             date-format        CDATA                                   #IMPLIED
                             date-resolution   %RESOLUTION;                             #IMPLIED  >
