resource/library/index-documents-2.0.dtd

<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
<!--                                                                                            -->
<!-- Title:         Flint DTD for Index Documents                                               -->
<!-- System:        Flint                                                                       -->
<!-- Status:        Draft                                                                       -->
<!-- Description:   A schema for the defining a collection of indexable Lucene documents as     -->
<!--                used in Lucene 3. In other words, XML documents following this schema can   -->
<!--                be parsed by Flint to produce a valid Lucene 3 Index.                       -->
<!-- Version:       2.0                                                                         -->
<!-- LastModified:  1 March 2010                                                                -->
<!-- Author(s):     Christophe Lauret, Jean-Baptiste Reure                                      -->
<!--                                                                                            -->
<!-- More info:                                                                                 -->
<!--    http://weborganic.org/code/flint                                                        -->
<!--    http://lucene.apache.org                                                                -->
<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->

<!--
  Lucene 3 Field Store

   - no:       Do not store the field value in the index.
   - yes:      Store the original field value in the index.
   - compress: Creates one indexed unstored field, and one unindexed stored compressed field.

   Constant values from enum: org.apache.lucene.document.Field.Store
-->
<!ENTITY  % FIELD_STORE     "(no|yes|compress)"                                                   >

<!--
  Lucene 3 Field Index

   - no:                    Do not index the field value
   - analyzed:              Index the tokens generated by an Analyzer.
   - analyzed-no-norms:     Index the tokens generated by an Analyzer; disable storing of norms.
   - not-analyzed:          Index the field's value without using an Analyzer.
   - not-analyzed-no-norms: Index the field's value without an Analyzer; disable storing of norms.

   Constant values from enum: org.apache.lucene.document.Field.Index
-->
<!ENTITY  % FIELD_INDEX     "(no|analyzed|analyzed-no-norms|not-analyzed|not-analyzed-no-norms)"  >

<!--
  Lucene 3 Field Term Vector.

   - no:                     Do not store term vectors.
   - with-offsets:           Store the term vector + Token offset information.
   - with-positions:         Store the term vector + token position information.
   - with-positions-offsets: Store the term vector + Token position and offset information.
   - yes:                    Store the term vectors of each document.

   Constant values from enum: org.apache.lucene.document.Field.TermVector
-->
<!ENTITY  % FIELD_TERMVECTOR "(no|yes|with-offsets|with-positions|with-positions-offsets)"        >

<!--
  Lucene 3 date resolution for date fields.

  Constant values from enum: org.apache.lucene.document.DateTools.Resolution
-->
<!ENTITY  % RESOLUTION       "(year|month|day|hour|minute|second|milli)"                          >

<!--                                                
  A container for Lucene documents.

  @element document The list of documents.
-->
<!ELEMENT documents                         (document*)                                           >
<!ATTLIST documents          version         CDATA                                   #FIXED "2.0" >

<!--                                                
  A Lucene document.
  
  @element field The fields attached to the document
  @attribute boost           A boost value for the document.
-->
<!ELEMENT document                           (field*)                                             >
<!ATTLIST document           boost            CDATA                                      #IMPLIED >

<!--
  A Lucene document field

  @attribute name            The name of the field.
  @attribute store           A Lucene Field Store value.
  @attribute index           A Lucene Field Index value.
  @attribute term-vector     Specifies whether and how a field should have term vectors.
  @attribute boost           A boost value for the field.
  @attribute date-format     A date format to parse a date field.
  @attribute date-resolution The resolution for a Lucene date field.
-->
<!ELEMENT field                                (#PCDATA)                                          >
<!ATTLIST field              name               CDATA                                   #REQUIRED 
                             store             %FIELD_STORE;                            #REQUIRED 
                             index             %FIELD_INDEX;                            #REQUIRED
                             term-vector       %FIELD_TERMVECTOR;                       #IMPLIED
                             boost              CDATA                                   #IMPLIED
                             date-format        CDATA                                   #IMPLIED
                             date-resolution   %RESOLUTION;                             #IMPLIED  >
