resource/library/index-documents-compatibility.dtd

<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
<!--                                                                                            -->
<!-- Title:         Flint DTD for Index Documents                                               -->
<!-- System:        Flint                                                                       -->
<!-- Status:        Final (Superseded by version 2.0)                                           -->
<!-- Description:   A schema for the defining a collection of indexable Lucene documents as     -->
<!--                used in Lucene 2. In other words, XML documents following this schema can   -->
<!--                be parsed by Flint to produce a valid Lucene 2 Index.                       -->
<!-- Version:       1.0                                                                         -->
<!-- LastModified:  15 October 2009                                                             -->
<!-- Author(s):     Christophe Lauret, Jean-Baptiste Reure                                      -->
<!--                                                                                            -->
<!-- More info:                                                                                 -->
<!--    http://weborganic.org/code/flint                                                        -->
<!--    http://lucene.apache.org                                                                -->
<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->

<!--
  Lucene 2 Field Store
   - compress: Store the field value in the index in a compressed form.
   - no:       Do not store the field value in the index.
   - yes:      Store the original field value in the index.
-->
<!ENTITY  % FIELD_TYPE      "( keyword | unstored | unindexed | text | stored | system )"         > 
<!ENTITY  % BOOLEAN         "( true | false )"                                                    > 

<!--                                                
  A container for Lucene documents

  @element document The list of documents.
-->
<!ELEMENT root                              (document*, fragment*)                                >

<!--                                                
  A Lucene document
  
  @element field The fields attached to the document
-->
<!ELEMENT document                             (field*)                                           >

<!--                                                
  A Lucene document
  
  @element field The fields attached to the document
-->
<!ELEMENT fragment                             (field*)                                           >

<!--
  A Lucene document field

  @attribute name            The name of the field
  @attribute store           A Lucene Field Store value
  @attribute index           A Lucene Field Index value
  @attribute date-format     A date format to parse a date field
  @attribute date-resolution The resolution for a Lucene date field
-->
<!ELEMENT field                                     (#PCDATA)                                     >
<!ATTLIST field              name                   CDATA                               #REQUIRED 
                             type                   %FIELD_TYPE;                        #REQUIRED 
                             comma-separated        %BOOLEAN;                           #IMPLIED  
                             parse-date-as          CDATA                               #IMPLIED  >
