src/main/resources/library/index-documents-5.0.dtd

<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
<!--                                                                                            -->
<!-- Title:         Flint DTD for Index Documents                                               -->
<!-- System:        Flint                                                                       -->
<!-- Status:        Final Draft                                                                 -->
<!-- Description:   A schema for the defining a collection of indexable Lucene documents as     -->
<!--                used in Lucene 5. In other words, XML documents following this schema can   -->
<!--                be parsed by Flint to produce a valid Lucene 5 Index.                       -->
<!-- Version:       2.0                                                                         -->
<!-- LastModified:  10 September 2010                                                           -->
<!-- Author(s):     Christophe Lauret, Jean-Baptiste Reure                                      -->
<!--                                                                                            -->
<!-- More info:                                                                                 -->
<!--    http://weborganic.org/code/flint                                                        -->
<!--    http://lucene.apache.org                                                                -->
<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->

<!--
  Lucene 5 Field Store

   - false:    Do not store the field value in the index.
   - true:     Store the original field value in the index.
   - compress: Creates one indexed unstored field, and one unindexed stored compressed field.

   Constant values from enum: org.apache.lucene.document.Field.Store
-->
<!ENTITY  % FIELD_STORE     "(false|true|compress)"                                                >

<!--
  Lucene 5 Field doc values

   - none:       The field is not a doc values field.
   - sorted:     The field is a doc values field, with single value.
   - sorted-set: The field is a doc values field, with multiple values.

   Constant values from enum: org.apache.lucene.document.Field.Store
-->
<!ENTITY  % FIELD_DOC_VALUES     "(none|sorted|sorted-set)"                                        >

<!--
  Boolean
-->
<!ENTITY  % BOOLEAN         "(false|true)"                                                         >

<!--
  Lucene 5 Field Index

   - none:                                     Do not index the field value
   - docs:                                     Only documents are indexed: term frequencies and positions are omitted.
   - docs-and-freqs:                           Only documents and term frequencies are indexed: positions are omitted.
   - docs-and-freqs-and-positions:             Indexes documents, frequencies and positions.
   - docs-and-freqs-and-positions-and-offsets: Indexes documents, frequencies, positions and offsets.

   Constant values from enum: org.apache.lucene.document.Field.Index
-->
<!ENTITY  % FIELD_INDEX     "(docs|docs-and-freqs|docs-and-freqs-and-positions|docs-and-freqs-and-positions-and-offsets|none)"  >

<!--
  Lucene 5 date resolution for date fields.

  Constant values from enum: org.apache.lucene.document.DateTools.Resolution
-->
<!ENTITY  % RESOLUTION       "(year|month|day|hour|minute|second|milli)"                          >

<!--
  Lucene 5 number type for a numeric field.

  See: org.apache.lucene.document.NumericField
-->
<!ENTITY  % NUMERIC_TYPE     "(double|float|int|long)"                                            >

<!--                                                
  A container for Lucene documents.

  @element document          The list of documents.
  @attribute version         The Flint document version.
  @attribute timezone        A specific timezone used by the document.
-->
<!ELEMENT documents                         (document*)                                           >
<!ATTLIST documents          version         CDATA                                   #FIXED "5.0" 
                             timezone        CDATA                                       #IMPLIED >

<!--                                                
  A Lucene document.
  
  @element field The fields attached to the document
  @attribute boost           A boost value for the document.
-->
<!ELEMENT document                           (field*)                                             >
<!ATTLIST document           boost            CDATA                                      #IMPLIED >

<!--
  A Lucene document field

  @attribute name            The name of the field.
  @attribute store           A Lucene Field Store value.
  @attribute index           A Lucene Field Index value.
  @attribute tokenize        If the field value is tokenized.
  @attribute doc-values      If the field is a doc values field, used for sorting or facets.
  @attribute term-vector     Specifies whether and how a 
  @attribute boost           A boost value for the field.
  @attribute date-format     A date format to parse a date field.
  @attribute date-resolution The resolution for a Lucene date field.
  @attribute numeric-type    Indicates the type of number this field should be indexed as.
  @attribute precision-step  Indicates precision step for a numeric field.
-->
<!ELEMENT field                                      (#PCDATA)                                    >
<!ATTLIST field              name                    CDATA                              #REQUIRED 
                             store                   %FIELD_STORE;                      #IMPLIED 
                             index                   %FIELD_INDEX;                      #IMPLIED
                             tokenize                %BOOLEAN;                          #IMPLIED 
                             doc-values              %FIELD_DOC_VALUES;                 #IMPLIED 
                             term-vector             %BOOLEAN;                          #IMPLIED
                             term-vector-positions   %BOOLEAN;                          #IMPLIED
                             term-vector-offsets     %BOOLEAN;                          #IMPLIED
                             term-vector-payloads    %BOOLEAN;                          #IMPLIED
                             boost                   CDATA                              #IMPLIED
                             date-format             CDATA                              #IMPLIED
                             date-resolution         %RESOLUTION;                       #IMPLIED  
                             numeric-type            %NUMERIC_TYPE;                     #IMPLIED
                             precision-step          CDATA                              #IMPLIED  >
